@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #e0f7fa; 
    color: #333; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    padding-left: 250px; 
}

/* sideBar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #263238; 
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1); 
    padding-top: 20px;
    transition: all 0.3s ease;
}

.sidebar header {
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    background-color: #1c313a; 
    font-weight: bold;
    letter-spacing: 1px;
    user-select: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.sidebar li {
    list-style: none;
    text-decoration: none;
}

.sidebar ul a {
    display: block;
    height: 60px;
    padding-left: 30px;
    line-height: 60px;
    font-size: 1.1rem;
    color: #b0bec5; 
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}

.sidebar ul a:hover {
    background-color: #37474f; 
    color: #ffffff; 
    padding-left: 40px;
}
 

/* content */
.kelola {
    text-align: center; 
    width: 100%; 
    padding: 20px;
}

.kelola .header {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
    color: #263238;
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse; 
    margin-top: 20px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 15px; 
    overflow: hidden;
}

thead {
    background-color: #263238;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

thead th, tbody td {
    padding: 15px;
    text-align: center;
    font-size: 1rem;
}

tbody td{
    white-space: nowrap;
}

tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

tbody tr:hover {
    background-color: #e0f7fa;
}

tbody td {
    border-bottom: 1px solid #b0bec5;
}

table img {
    border-radius: 5px;
    max-height: 100px;
}


.action-buttons {
    display: flex;
    gap: 10px; 
    justify-content: center; 
}

.action-button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 100px; 
}

.action-button:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #f44336; 
    color: white;
}

.delete-button:hover {
    background-color: #d32f2f;
}


select {
    padding: 8px 10px;
    border: 1px solid #b0bec5;
    border-radius: 5px;
    background-color: #f1f1f1;
    font-size: 0.9rem;
    color: #263238;
    outline: none;
}

