* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', 'Roboto', sans-serif;
    box-sizing: border-box;
}


body {
    background-color: #e0f7fa; 
    color: #333; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    padding-left: 250px; 
}

/* sideBar */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #263238; 
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1); 
    padding-top: 20px;
    transition: all 0.3s ease;
}

.sidebar header {
    font-size: 1.4rem;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    background-color: #1c313a; 
    font-weight: bold;
    letter-spacing: 1px;
    /* user-select: none; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.sidebar li {
    list-style: none;
    text-decoration: none;
}

.sidebar ul a {
    display: block;
    height: 60px;
    padding-left: 30px;
    line-height: 60px;
    font-size: 1.1rem;
    color: #b0bec5; 
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
}

.sidebar ul a:hover {
    background-color: #37474f; 
    color: #ffffff; 
    padding-left: 40px;
}

/* content */

header{
    position: relative;
}
header .daftar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 525px;
}

main{
    position: fixed;
}

main table{
    margin-bottom: 250px;
}

table tr th, td{
    padding: 20px;
    width: 25%;
    text-align: center;
}

table tr th{
    background-color: #b0bec5;
}