@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: montserrat, roboto, sans-serif;
}

body {
    background-color: #f1f8e9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

header {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.confirmation-box {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

p {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
}

button {
    font-size: 1rem;
    font-weight: bold;
}

button[type="submit"], .button-confirm {
    background-color: #076b31;
    border: none;
    padding: 12px 20px;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
    margin-right: 4%;
}

button[type="button"], .button-edit {
    background-color: #d32f2f;
    border: none;
    padding: 12px 20px;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    width: 48%;
}

button[type="submit"]:hover, .button-confirm:hover,
button[type="button"]:hover, .button-edit:hover {
    opacity: 0.9;
}

.confirmation-box input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-top: 5px;
    font-size: 1rem;
}

.confirmation-box input[type="number"], 
.confirmation-box input[type="date"] {
    font-size: 1rem;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
