@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: montserrat, roboto, sans-serif;
}

body{
    background-color: rgba(221, 231, 231, 0.785);
}

header{
    padding: 30px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo h1{
    font-size: 2.5rem;
    letter-spacing: 4px;
}

.menu{
    width: 700px; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menu a{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 400;
    color: black;
    position: relative; 
    transition: color 0.3s ease; 
}

.menu a::after {
    content: ''; 
    position: absolute;
    width: 0;
    height: 2px;
    background-color: rgb(65, 105, 225); 
    bottom: -5px; 
    left: 50%;
    transform: translateX(-50%); 
    transition: width 0.3s ease; 
}

.menu a:hover::after {
    width: 100%; 
}

.menu a:hover {
    color: rgb(65, 105, 225); 
}

.login{
    padding: 12px 30px;
    border-radius: 10px;
    background-color: rgb(65, 105, 225); 
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.login:hover {
    background-color: rgb(22, 100, 179); 
    transform: translateY(-3px); 
}

.imageAndText {
    position: relative;
    height: 150px;
    width: 90%; 
    margin: 0 auto;
    border-radius: 10px; 
    background-image: url('../images/Volvo_V40_2012_ID42221_280212-scaled-oxrviv7h396j7m61c6tdruahgwnlicf5njvah8dga6.webp'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 40px;
}

.imageAndText::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.imageAndText h1 {
    position: relative;
    z-index: 2; 
    font-size: 2rem; 
    margin: 0;
    text-align: center; 
}

.gridContainer{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px; 
    padding: 20px 0;
}

.gridItems{
    background-color: #ffffff; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    text-align: center; 
}

.cardImg img {
    width: 100%;
    height: 150px;
    object-fit: cover; 
    border-bottom: 1px solid #ddd; 
}

.description {
    padding: 10px; 
}

.description p {
    margin: 5px 0; 
    color: #333; 
    font-size: 1rem;
    text-align: left;
}

form {
    padding: 10px;
    background-color: #f8f8f8; 
}
form input[type="submit"] {
    width: 100%;
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

form input[type="submit"]:hover  {
    background-color: #0056b3; 
}






