@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Montserrat, Roboto, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f4f4f4;
}

.container {
    position: relative;
    max-width: 700px;
    width: 100%;
    background: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}



.back-button:hover {
    background-color: #5a6268; 
}
.container header {
    font-size: 1.5rem;
    color: #333;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.container form {
    margin-top: 30px;
}

form .input-box {
    width: 100%;
    margin-top: 20px;
    padding: 0 15px;
    box-sizing: border-box;
}

.input-box label {
    color: #333;
    font-size: 1rem;
    margin-bottom: 5px;
}

form .input-box input {
    position: relative;
    height: 40px;
    width: 100%;
    outline: none;
    font-size: 1rem;
    color: #000000;
    margin-top: 8px;
    border-radius: 6px;
    padding: 0 12px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
}

form .input-box input:focus {
    border-color: #007bff;
}

form .column {
    display: flex;
    column-gap: 15px;
}

form .input-box button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
    margin-top: 20px;
}

form .input-box button:hover {
    background-color: #45a049;
}

form .input-box .back-button {
    background-color: #6c757d; 
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.2s;
    margin-bottom: 15px;
}

form .input-box .back-button:hover{
    background-color: #575d63;
}
