@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, roboto, sans-serif;
}


body {
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}


form {
    display: flex;
    flex-direction: column;
}

.confirmation-box {
    margin-bottom: 15px;
}

.confirmation-box label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.confirmation-box p {
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    color: #555;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button[type="button"] {
    background-color: #f44336;
}

button:hover {
    background-color: #45a049;
}

button[type="button"]:hover {
    background-color: #e53935;
}
