@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: montserrat, roboto, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
    padding: 20px;
}


.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


header {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

.confirmation-box {
    margin-bottom: 15px;
}

.confirmation-box label {
    font-size: 16px;
    font-weight: bold;
    color: #7f8c8d;
}

.confirmation-box p {
    font-size: 18px;
    margin-top: 5px;
    color: #34495e;
}
.button-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.button-group button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-edit {
    background-color: #f39c12;
    color: white;
}

.button-edit:hover {
    background-color: #e67e22;
}

.button-print {
    background-color: #2ecc71;
    color: white;
}

.button-print:hover {
    background-color: #27ae60;
}


